
html, body{
    color: white;
    background-color: black;
}


input{
    color: gray;
    font-size: 1.2rem;
    width: 100%;
}

.card{
    text-align: center;
    margin: auto;
}

.card img{
    border: 3px solid white;
}

.card div{
    font-size: 30px;
}

ol{
    display: block;
}

